<ng-container *ngFor="let alert of alerts">
  <ngb-toast *ngIf="alert.loading"
    [header]="alert.title || 'toad'"
    [class]="cssClass(alert)"
    [autohide]="!!(alert.autoClose$ | async)"
    [delay]="100"
    [animation]="true"
    (hidden)="removeAlert(alert)"
    >
    <div class="spinner-border inline mx-2" role="status"></div>
    <span class="py-2">{{ alert.message }}</span>
  </ngb-toast>

  <ngb-toast *ngIf="!alert.autoClose && !alert.loading"
    [header]="alert.title || 'toad'"
    [class]="cssClass(alert)"
    [autohide]="false"
    (hidden)="removeAlert(alert)">
    {{ alert.message }}
  </ngb-toast>

  <ngb-toast *ngIf="alert.autoClose && !alert.loading"
    [header]="alert.title || 'toad'"
    [class]="cssClass(alert)"
    [autohide]="true"
    [delay]="alert.delay"
    (hidden)="removeAlert(alert)"
    >
    {{ alert.message }}
  </ngb-toast>
</ng-container>
