<div class="text-center signin-body">
  <app-login-form class="w-100 m-auto"></app-login-form>
</div>

<!-- <div class="container-sm py-3 px-5 my-5 border rounded">
  <p>Sign in:</p>
  <form #myForm="ngForm" (ngSubmit)="onSubmit()" >
    <div class="mb-3 row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" [(ngModel)]="user.email" name="emailFormControl" required class="form-control"
          id="email" placeholder="email@example.com">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" [(ngModel)]="user.password" name="passwordFormControl" class="form-control"
          id="inputPassword">
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-5 mt-3 offset-sm-7">
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary w-100">Login</button>
      </div>
    </div>
  </form>
</div> -->

    <!-- <strong *ngIf="loggInError" [ngClass]="loggInError ? 'error' : ''" style="color: red;">Invalid credentials. If you don't belong here then GET OUT</strong>
  <strong *ngIf="isLoading">We are trying to log you in, be patient...</strong>
  <p>
      <label>Email address:</label>
      <input [disabled]="isLoading" type="email" name="emailFormControl"
          [(ngModel)]="user.email" required>
  </p>
  <p>
      <label>Password:</label>
      <input [disabled]="isLoading" type="password" name="passwordFormControl"
          [(ngModel)]="user.password" required>
  </p>
  <p>
      <button type="submit" [disabled]="!myForm.valid">Submit</button>
  </p> -->
