<header class="bg-light pt-4 pb-md-5 px-4 px-lg-5 d-flex d-md-block align-items-center title">
  <h1 class="mt-0">Dash Bird</h1>
  <p>At your disposal</p>
  <ul class="nav nav-tabs px-4 px-lg-5 content-tabset justify-content-md-start justify-content-end">
    <!---->
  </ul>
</header>
<div class="container mt-5 mb-5">
  <div class="mb-5">
    <h4 class="py-2">Is this your first time with us?</h4>
    <p>
      A man loses his identity while living under a repressive regime. In a story based on George Orwell's classic
      novel, Winston Smith (John Hurt) is a government employee whose job involves the rewriting of history in a manner
      that casts his fictional country's leaders in a charitable light. His trysts with Julia (Suzanna Hamilton) provide
      his only measure of enjoyment, but lawmakers frown on the relationship -- and in this closely monitored society,
      there is no escape from Big Brother.
    </p>

    <h4 class="mt-3 py-2">Or you've been here before</h4>
    <p>
      Winston Smith is a low-ranking member of the ruling Party in London, in the nation of Oceania.
      Everywhere Winston goes, even his own home, the Party watches him
      through telescreens; everywhere he looks he sees the face of the Party’s
      seemingly omniscient leader, a figure known only as Big Brother.
      The Party controls everything in Oceania, even the people’s history
      and language. Currently, the Party is forcing the implementation of an
      invented language called Newspeak, which attempts to prevent political
      rebellion by eliminating all words related to it. Even thinking rebellious thoughts is illegal.
      Such thoughtcrime is, in fact, the worst of all crimes.
    </p>
    <p>
      As the novel opens, Winston feels frustrated by the oppression and
      rigid control of the Party, which prohibits free thought, sex, and
      any expression of individuality. Winston dislikes the party and has
      illegally purchased a diary in which to write his criminal thoughts.
      He has also become fixated on a powerful Party member named O’Brien,
      whom Winston believes is a secret member of the Brotherhood—the
      mysterious, legendary group that works to overthrow the Party.
    </p>
  </div>
  <div class="row align-items-md-stretch my-5">
    <div class="col-lg-8 col-md-6">
      <div class="h-100 text-bg-dark rounded-3 p-5">
        <h2>Want to work for us?</h2>
        <p class="pb-1">
          When I drove my dads car I treated it
          terribly ( sorry dad).  When I got my own car, all
          of a sudden I took amazing care of it.
          Ownership as long as it doesn't become an idol is
          a healthy thing.  It creates responsibility and
          allows you the opportunity to give it freely.
        </p>
        <p class="text-muted pb-2">A random youtube comment</p>
        <button class="btn btn-outline-light">
          Apply
        </button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 my-sm-5_">
      <!-- <div class="h-100 bg-light rounded-3 p-5">

      </div> -->
      <app-login-petit *ngIf="(loginStatus$ | async) !== 'LOGGED_IN' else niceShirt" [h_100]="true" class="h-100"></app-login-petit>
      <ng-template #niceShirt>
        <div class="h-100 bg-light rounded-3 p-5">
          <h2>So you're in, now what?</h2>
          <p class="pb-1">
            Man have you seen the news lately? It is CRAZY! no one expected this to happen, who would have thought that any of it was possible?
            Oh and this is just the begining...
          </p>
          <p>
            Anyway stay tuned.
          </p>
          <button class="btn btn-outline-light">
            GO HOME
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
